<!doctype html>
<html>
<body>
<h1>About</h1>

  <p>&ensp; Data set taken from: <a href="https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset"> kaggle </a> The data set is already presented in the train-test form.</p>


<b>About the data:</b>
  <p>&ensp; The data is from the company "Dream Housing Finance" which provides home loans. In order for a customer to apply for a loan, first the company validates the customer eligibility for loan. Company wants to automate the loan eligibility process based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers.</p>

<p>&ensp; To get more information about the variables from the dataset and its description you can go <a href="https://github.com/gl-j/SoftwareDevelopment2022/blob/main/README.md"> here. </a> </p>
<p>&ensp; For reading the train dataset you can go <a href="https://github.com/gl-j/SoftwareDevelopment2022/blob/main/app/train.csv"> here. </a> </p>
<p>&ensp; For reading the train dataset you can go <a href="https://github.com/gl-j/SoftwareDevelopment2022/blob/main/app/test.csv"> here. </a> </p>

  <p>&ensp; This is a classification problem where it must be predicted if a loan would be approved or not.</p>

  <p>
  <form action="/main">
    <input type="submit" value="Go back to the main page" />
  </form>
  </p>

<form action="/index">
  <input type="submit" value="Go to the loan predictor" />
</form>

</body>
</html>
