<html>
<body>
    <h1>Loan Predictability</h1>

    <p>
    <form action="/main">
      <input type="submit" value="Go to the main page" />
    </form>
    </p>

    <p>&ensp; To determine the outcome of the predictor you must
    select/reply to <b> all </b> of the following points:</p>



<div>
  <form action="/result" method="POST">
    <label for="Gender">Gender</label>
    <select name="Gender" id ="Gender" multiple>
      <option value=1>Male</option>
      <option value=0>Female</option>
    </select>
    <br><br>
    <label for="Married">Married</label>
    <select name="Married" id ="Married" multiple>
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>
    <br><br>
    <label for="Dependents">Dependents</label>
    <select name="Dependents" id ="Dependents" multiple>
      <option value=0>0</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3+</option>
    </select>
    <br><br>
    <label for="Education">Education</label>
    <select name="Education" id ="Education" multiple>
      <option value=0>Graduate</option>
      <option value=1>Not Graduate</option>
    </select>
    <br><br>
    <label for="Self_Employed">Self Employed</label>
    <select name="Self_Employed" id ="Self_Employed" multiple>
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
    <br><br>
    <label = for="Credit_History">Credit History (0.00-1.00)</label>
    <input type="text" id="Credit_History" name="Credit_History">
    <br><br>
    <label for="Property_Area">Property Area</label>
    <select name="Property_Area" id ="Property_Area" multiple>
      <option value=0>Rural</option>
      <option value=1>Semiurban</option>
      <option value=2>Urban</option>
    </select>
    <br><br>
    <label = for="ApplicantIncomeLog">Applicant Income (USD)</label>
    <input type="text" id="ApplicantIncomeLog" name="ApplicantIncomeLog">
    <br><br>
    <label = for="LoanAmountLog">Loan Amount (0.00-700.00)*1000USD</label>
    <input type="text" id="LoanAmountLog" name="LoanAmountLog">
    <br><br>
    <label = for="LoanAmountTermLog">Loan Amount Term (0-360) days</label>
    <input type="text" id="LoanAmountTermLog" name="LoanAmountTermLog">
    <br><br>
    <p>&ensp; Make sure you selected/replied to <b> all </b> of the points, otherwise you'll get an error.</p>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
