<!doctype html>
<html>
<body>
<h1>This is the main page of the project Loan Predictability</h1>

<b>Features:</b>
  <p>&ensp; This page will ask the user a set of questions, which will
    determine whether he will get a loan or not based on a Logistic Regression model,
  that has been previously trained with data.</p>


<b>Requierements:</b>
  <p>&ensp; Python 3.x , Numpy, Pandas, Scikit Learn, Pickle</p>


  <b>Project page</b>
    <p>&ensp; https://github.com/gl-j/SoftwareDevelopment2022</p>


  <b>License :</b>
    <p>&ensp; Open and free of use </p>


<form action="/index">
  <input type="submit" value="Go to the loan predictor" />
</form>

<form action="/about">
  <input type="submit" value="About the dataset" />
</form>

</body>
</html>
