<!doctype html>
<html>
<body>
<h1>This is the main page of the project Loan Predictability</h1>

<b>Features:</b>
  <p>&ensp; This page will ask the user a set of questions, which will
    determine whether the user will get a loan or not based on a Logistic Regression model,
  that has been previously trained with existing data.</p>


<b>Requierements:</b>
  <p>&ensp; Python 3.9.x, Flask 1.1.x, Numpy 1.21.x, Pandas 1.3.x, Scikit Learn 0.24.x, Pickle 4.0 </p>
  <p>&ensp; Seaborn 0.11.x, Matplotlib 3.4.x </p>


  <b>Project page:</b>
    <p>&ensp; <a href="https://github.com/gl-j/SoftwareDevelopment2022"> github </a></p>


  <b>License :</b>
    <p>&ensp; Open and free of use </p>


<form action="/index">
  <input type="submit" value="Go to the loan predictor" />
</form>

<p>
<form action="/about">
  <input type="submit" value="About the dataset and the task" />
</form>
</p>

</body>
</html>
